{{ define "main" }}
<div class="container">
    <div class="main">
        <div class="inner-container">
            <div class="main-left">
                <h2>{{ .Params.title_1 }}</h2>
                <p>
                    {{ .Params.content_1 }}
                </p>
                <div style="text-align: end; margin-top: 60px">
                    <a href="{{ .Params.readmore_link_1 }}" class="read-more">{{ .Params.readmore_1 }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="incidents">
        <div class="inner-container">
            <h2>{{ .Params.title_2 }}</h2>
            {{ partial "incidents/list-short.html" . }}
            <div style="text-align: end; margin-top: 60px">
                <a href="{{ .Params.readmore_link_2 }}" class="read-more">{{ .Params.readmore_2 }}</a>
            </div>
        </div>
    </div>

    {{ .Content }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</div>
{{ end }}
