<div class="container">
    <div class="inner-container">
        <div class="footer">
            {{ if .Site.Menus.footer1 }}
            <ul>
                {{ range sort .Site.Menus.footer1 "Weight" }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
            {{ if .Site.Menus.footer2 }}
            <ul>
                {{ range sort .Site.Menus.footer2 "Weight" }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
            {{ if .Site.Menus.footer3 }}
            <ul>
                {{ range sort .Site.Menus.footer3 "Weight" }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
            <ul>
                <li>Follow Us</li>
                <li><a href="https://www.facebook.com/@bnndesk" target="_blank"><i class="fa-brands fa-facebook"></i>On Facebook</a></li>
                <li><a href="https://x.com/bnndesk" target="_blank"><i class="fa-brands fa-square-x-twitter"></i>On X</a></li>
            </ul>
        </div>
        <p>Copyright {{ now.Year }}. Breaking News Network. All rights reserved.</p>
    </div>
</div>