<div class="container">
    <div class="inner-container">
        <div class="footer">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./../about">About Us</a></li>
                <li><a href="./../contact-us">Contact Us</a></li>

            </ul>
            <ul>
                <li><a href="./../incidents">Incidents</a></li>
                <li><a href="./../subscribe">Subscribe</a></li>
            </ul>
            <ul>
                <li><a href="./../terms-and-conditions">Terms & Conditions</a></li>
                <li><a href="./../privacy-policy">Privacy Policy</a></li>
            </ul>
            <ul>
                <li>Follow Us</li>
                <li><a href="https://www.facebook.com/@bnndesk" target="_blank"><i class="fa-brands fa-facebook"></i>On Facebook</a></li>
                <li><a href="https://x.com/bnndesk" target="_blank"><i class="fa-brands fa-square-x-twitter"></i>On X</a></li>
            </ul>
        </div>
        <p>Copyright {{ now.Year }}. Breaking News Network. All rights reserved.</p>
    </div>
</div>